<div>
    <ul class="menu">
        
        <li>
             <a routerLink="/planning"><i class="fa fa-calendar"></i></a>
             <label>Definir planning</label> 
        </li>
        <li>
             <a routerLink="/history-demande" > <i class="fa fa-history"></i></a>
             <label > Consulter Historique demande</label>
        </li>
        <li>
             <a routerLink="/history-rv"><i class="fa fa-cog"></i></a>
             <label >Consulter rendez-vous</label>
         </li>
         <li>
             <a routerLink="/home-declaration"><i class="fa fa-edit"></i></a>
             <label >Faire une déclaration</label>
         </li>
    </ul>
    
</div>
