<div class="row footer">
    <div class="col-md-9 padding-div">
        <span class="p-footer">Mairie de Dakar</span><br>
        <div class="margin-div">
             <i class="fa fa-globe"></i>
            <a href="http://www.esp.sn">                                
                http://www.servicepublic.gouv.sn/
            </a>
        </div>
        <div class="margin-div">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a>                                
                33 849 09 09 / 33 849 09 10
            </a>
        </div>
        <div class="margin-div">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <a href="mailto:dmi@esp.sn" >           
                lemaire@villededakar.org
            </a>
        </div>
        <div class="margin-div">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <a>                                  
                Boulevard Djily Mbaye X Robert Delmas - BP 186 - Dakar
            </a>
        </div>
        <div class="margin-div">
            <i class="fa fa-clock" aria-hidden="true"></i>
            <a>                                    
                08h-12h et 15h-18h
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="logos">
            <a href="https://web.facebook.com/pages/category/Community/Mairie-de-Dakar-1525911301020404/?_rdc=1&_rdr"> <span class="logofacebook"></span></a>&nbsp;&nbsp;
            <a href="https://twitter.com/villededakar?lang=fr" >
                <span class="logotwitter"></span>
            </a>
        </div>
    </div>
</div>
