<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand logo" href="#"> 
      <span class="logo-img"></span> 
      <span class="spantitle">SenActe</span>
    </a>
    <div class="ml-auto">
      <a routerLink="/"><button mat-stroked-button color="accent" class="aide"> <i class="fa fa-home" aria-hidden="true"></i> Accueil</button></a>&nbsp;&nbsp;
      <a routerLink="/aide"><button mat-stroked-button color="accent" class="aide"> <i class="fa fa-question-circle" aria-hidden="true"></i> Aide</button></a>&nbsp;&nbsp;
      <button type="button" class="btn color" data-toggle="modal" data-target="#myModal">Connexion</button>&nbsp;&nbsp;
      <app-auth></app-auth>
      <a routerLink="/register"><button type="button" class="btn color">Créer un compte</button></a>
    </div> 
    
      
    
  </nav>
