<div class="container">
    <h2>Choisir date rendez-vous pour célébration de mariage</h2>
    <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Jour</th>
            <th>Heure</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lundi: 21/09/2020</td>
                <td>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio">8h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio2" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio2">9h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio3" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio3">10h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio4" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio4">11h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio5" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio5">12h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio21" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio21">15h30</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio22" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio22">16h00</label>
                    </div>
               </td>
            </tr>
          
            <tr>
                <td>Mardi: 22/09/2020</td>
                <td>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio6" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio6">8h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio7" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio7">9h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio8" name="example" value="customEx" [disabled]="ok">
                        <label class="custom-control-label" for="customRadio8">10h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio9" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio9">11h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio10" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio10">12h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio23" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio23">14h</label>
                    </div>
               </td>
            </tr>
          
            <tr>
                <td>jeudi: 24/09/2020</td>
                <td>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio11" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio11">8h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio12" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio12">9h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio13" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio13">10h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio14" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio14">11h</label>
                    </div>
               </td>
            </tr>
          
            <tr>
                <td>vendredi: 25/09/2020</td>
                <td>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio16" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio16">8h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio17" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio17">9h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio18" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio18">10h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio19" name="example" value="customEx">
                        <label class="custom-control-label" for="customRadio19">11h</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="customRadio20" name="example" value="customEx" disabled>
                        <label class="custom-control-label" for="customRadio20">12h</label>
                    </div>
               </td>
            </tr>
          
        </tbody>
      </table>
      <button type="submit" class="btn btn-success" (click)="desactiver()">Valider mon choix</button>
      <br><br>
      <div class="alert alert-warning alert-dismissible fade show" *ngIf="ok">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Monique Faye </strong>vous venez de prendre un rendez-vous pour le Mardi : 22/09/2020 à 10h <strong>Cliquer sur Ok </strong> Pour confirmer votre choix.
        <button type="submit" class="btn btn-warning" data-dismiss="alert" (click)="enregistrer()">Ok</button>
      </div>
      <div class="alert alert-success alert-dismissible fade show" *ngIf="super">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Rendez-vous </strong> prise en compte !!! 
      </div>
</div>
