<h1 class="display-4">Quelques informations concernant la plateforme</h1><br><br>

<div id="accordion">
    <div class="row margin-row">
        
        <div class="col-lg-6">

            <div class="card" [ngStyle]="{'background-color': collapseOne}">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne" (click)="onClick()" [ngStyle]="{'color': linkcolor}">
                        <div>
                            <i class="fa fa-question-circle icon" aria-hidden="true" [ngStyle]="{'color': iconcolor}" ></i>
                            Faire vos démarches en ligne
                        </div>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body color">
                        Grâce à votre espace e-citoyen sur SenActe, accessible 24h/24 et 7j/7, vous pouvez déposer toutes vos demandes, en y joignant toutes informations au dossier. Vous pouvez par ailleurs signaler une difficulté, poser une question générale. Vous y trouvez tout l’historique de vos échanges avec l’administration fiscale, quel que soit le canal utilisé (internet, téléphone, courrier…).
                        • Vous avez la possibilité de joindre toutes les pièces justificatives nécessaires
                        • Vous pouvez suivre en ligne l’état d’avancement de votre dosser
                        • Vous pouvez enregistrer votre demande en brouillon, et la compléter plus tard
                        • Un accusé réception est délivré à l’issue de la démarche
                        • Vous recevez des notifications à chaque étape
                    </div>
                </div>
            </div><br>

            <div class="card" [ngStyle]="{'background-color': collapseThree}">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseThree" (click)="onClickThree()" [ngStyle]="{'color': linkcolorThree}">
                        <div>
                            <i class="fa fa-question-circle icon" aria-hidden="true" [ngStyle]="{'color': iconcolorThree}" ></i>
                            Quels sont les avantages de la déclaration en ligne ?
                        </div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body color">
                        Toujours plus rapide, plus facile et plus sécurisée !!
                        Vous pouvez déposer votre dossier, 24h/24 et 7j/7, sans avoir à tenir compte des heures d’ouvertures de l’administration
                        Vous pouvez faire vos procédures en ligne comme cela vous convient depuis n’importe quel ordinateur, tablette ou smartphone.
                        Vous recevez un courriel de confirmation après soumission. Le récépissé de dépôt vous est transmis après vérification de l’administration.
                    </div>
                </div>
            </div><br>

        </div>
        
        <div class="col-lg-6">

            <div class="card" [ngStyle]="{'background-color': collapsetwo}">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapsetwo"  (click)="onClicktwo()" [ngStyle]="{'color': linkcolortwo}">
                        <div>
                            <i class="fa fa-question-circle icon" aria-hidden="true" [ngStyle]="{'color': iconcolortwo}" ></i>
                            Comment faire une démarche via SenActe
                        </div>
                    </a>
                </div>
                <div id="collapsetwo" class="collapse" data-parent="#accordion">
                    <div class="card-body color">
                        Pour réaliser vos démarches électroniques, vous devez impérativement disposer d’un compte TeleDAc. Une fois connecté, vous pouvez choisir la procédure à dérouler, remplir le formulaire directement sur la plateforme, joindre les pièces justificatives et le transmettre à l’administration compétente via la plateforme.
                    </div>
                </div>
            </div><br>

        </div>

    </div>
</div>
<br><br><br><br>


