<div>
    <ul class="menu">
        <li>
            <a routerLink="/demande-naissance"><img src="../../assets/images/img-naissance.jpg" alt="">
                <label for="">Demande acte de naissance</label>
            </a>
        </li>
        <li>
            <a href=""><img src="../../assets/images/img-mariage.jpg" alt="">
                <label for="">Demande acte de mariage</label>
            </a>
        </li>
        <li>
            <a href=""><img src="../../assets/images/img-deces.jpg" alt="">
                <label for="">Demande acte de Décès</label>
            </a>
        </li>
    </ul>
</div>
