<body>
    <div>
       <ul class="menu">
           
           <li class="l1">
            <a href="./planning.html"><i class="far fa-calendar-alt" aria-hidden="true"></i></a>
                <label>Definir planing</label> 
           </li>
           <li class="l2">
                <a href="./historique.html" > <i class="fa fa-history"></i></a>
                <label > Consulter Historique demande</label>
           </li>
           <li class="l3">
                <a href="./list-rv.html"><i class="fa fa-user-cog"></i></a>
                <label >Consulter rendez-vous</label>
            </li>
            <li class="l4">
                <a href="./declaration.html"><i class="fa fa-user-edit"></i></a>
                <label >Faire une déclaration</label>
            </li>
       </ul>
       
   </div>
</body>