<body>
    <div class="container">
        <h2>Historique  des Demandes</h2>
        <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Type de Demande</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Therese</td>
                <td>Diagne</td>
                <td>theresediagne@gmail.sn</td>
                <td>773158546</td>
                <td>
                  Acte de naissance &nbsp;&nbsp;&nbsp;&nbsp;
                  <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaldelivre">Délivrer</button>
                  <app-delivrer-acte></app-delivrer-acte>
                </td>
              </tr>
              <tr>
                <td>Alseny</td>
                <td>Diallo</td>
                <td>alsenydiallo@gmail.com</td>
                <td>771760963</td>
                <td>
                  Acte de mariage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaldelivre">Délivrer</button>
                  <app-delivrer-acte></app-delivrer-acte>
                </td>
              </tr>
              <tr>
                <td>Djibril</td>
                <td>Sow</td>
                <td>djibrilsow@gmail.com</td>
                <td>774013396</td>
                <td>Acte de naissance &nbsp;&nbsp;&nbsp;&nbsp;
                  <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaldelivre">Délivrer</button>
                  <app-delivrer-acte></app-delivrer-acte>
                </td>
              </tr>
              <tr>
                <td>Monique</td>
                <td>Faye</td>
                <td>fayemonique5@gmail.com</td>
                <td>784353396</td>
                <td>Acte de naissance &nbsp;&nbsp;&nbsp;&nbsp;
                  <button  type="button" class="btn btn-success" data-toggle="modal" data-target="#myModaldelivre">Délivrer</button>
                  <app-delivrer-acte></app-delivrer-acte>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</body>