<div class="modal fade" id="myModaldelivre">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Délivrer acte</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="row justify-content-center">
                
        
                <div class="col-md-8">
                    <form class="form" role="form" (ngSubmit)="send()" [formGroup]="delivreForm">
                        <div class="form-group">
                            <label class="username-label" for="username">email</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Entrez l'email du destinataire"
                                   formControlName="username">
                                <div *ngIf="delivreForm.get('username')!.invalid && (delivreForm.get('username')!.dirty || delivreForm.get('username')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="delivreForm.get('username')?.errors?.required"
                                    >
                                        Vous devez renseigner votre email.
                                    </small>
            
                                    <small class="form-text text-danger"
                                           *ngIf="delivreForm.get('username')?.errors?.invalid"
                                    >
                                        Votre email est invalide.
                                    </small>
            
                                    <small class="form-text text-danger"
                                           *ngIf="delivreForm.get('username')?.errors?.minlength"
                                    >
                                        Votre email doit contenir au moins 5 caractères.
                                    </small>
            
                                    <small class="form-text text-danger"
                                           *ngIf="delivreForm.get('username')?.errors?.maxlength"
                                    >
                                        Votre email ne peut pas dépasser 100 caractères.
                                    </small>
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="fichier">Choisir un fichier</label>
                            <input type="file" id="fichier"/>
                        </div>

                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Envoyer</button>
                        
        
                    </form>
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

