.divgeneral{
border: 1px;
border-style: solid;
border-color: rgb(15, 190, 196);
margin-left: 200px;
margin-right: 200px;
padding: 20px;
}

h2{
position: relative;
left: 20%;
font-size: 50px;
}

.taille-input-unique{
    width: 500px;
}


